:root {
    --Main1: #555E70;
    --Main2: #2F394D;
    --Main3: #5386E4;

    --bgColorWhite: #fff;
    --bgGray50: #FCFCFC;
    --bgGray100: #F7F7F7;

    --textWhite: #fff;
    --textBlack: #000;

    --textMainBlack: #222;

    --font14: 14px;
    --font15: 15px;
    --font16: 16px;
    --font17: 17px;
    --font18: 18px;
    --font19: 19px;
    --font20: 20px;
    --font23: 23px;
    --font25: 25px;
    --font27: 27px;
    --font30: 30px;
    --font31: 31px;
}